body {
    background-color: #b2dbac;
    margin: 0;
    height: 100%;
    font-family: tahoma;
}

h1 {
    color:darkred;
    background-color: #82b3db;
    border-width: 4px;
    border-style: solid;
    border-radius: 8px;
    font-size: 35px;
    padding: 10px;
    margin: 15px;
    text-align: center;
}

h2 {
    color:black;
    font-size: 25px;
    margin: 10px;
    text-align: left;
}

h3 {
    color:black;
    font-size: 25px;
    margin: 10px;
}

p {
    color: rgb(53, 72, 97);
    font-size: 16px;
    margin: 5px;
    text-align: left;
}

#userNameTim {
    color:red;
    font-size: 55px;
    margin: 15px;
}

#otherNames {
    color:darkslateblue;
    font-size: 55px;
    margin: 15px;
}

footer {
    clear: left;
    text-align: left;
    padding: 10px;
    background-color:hsla(196, 100%, 50%, .9);
    border-style: solid;
    border-color: black;
}

#topTen {
    list-style-type: decimal;
    list-style-position: inside;
}

ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 20px;
    margin-bottom: 10px;
}
