body {
    background-color: #b2dbac;
    margin: 0;
    height: 100%;
    font-family: tahoma;
}

h1 {
    color:darkred;
    font-size: 35px;
    margin: 15px;
}

h2 {
    color:black;
    font-size: 25px;
    margin: 10px;
}

article {
    color: rgb(58, 61, 65);
    font-size: 16px;
    margin: 5px;
}

#userNameTim {
    color:red;
    font-size: 55px;
    margin: 15px;
}

#otherNames {
    color:darkslateblue;
    font-size: 55px;
    margin: 15px;
}