body {
    background-color: #b2dbac;
    margin: 0;
    height: 100%;
    font-family: tahoma;
}

h1 {
    color:red;
    font-size: 55px;
    margin: 15px;
}

h2 {
    color:black;
    font-size: 25px;
    margin: 10px;
}
